.serif1 { font-family: Times, "Times New Roman", serif; }
.sans1 { font-family: Arial, Helvetica, sans-serif; }
.serif0 { font-family: serif; }
.sans0 { font-family: sans-serif; }
.mono0 { font-family: monospace; }

body {
    background-color: #231f20;
    font-family: "Varela Round";
}

h2 {
    color: white;
}

h1 {
    color: white;
	text-align: center;
}

h3 {
    color: lightgray;
}

.stats {
    max-width: 100%
}

.flex-stats-container {
    display: flex;
	justify-content: center;
	align-items: center;
}

@media all and (max-width: 1000px) {
	.flex-stats-container {
		flex-wrap: wrap;
	}
}

.flex-stats {
	flex-shrink: 2;
	margin: 10px;
}

.subtext {
    color: gray;
    font-size: 12px;
}

.subtitle {
    color: gray;
	text-align: center;
}

.body {
    margin: auto;
    max-width: 900px;
	padding: 25px 50px;
}

.navbar {
	display: flex;
	justify-content: left;
	height: 60px;
	padding: 0 25px;
	margin: 0 -25px;
	border-bottom-style: outset;
	border-bottom-width: thin;
	border-bottom-color: white;
}

.navbutton {
	flex-shrink: 1;
	background-color: #463E40;
	border-radius: 10px;
	margin: 13px 4px;
}

#navbutton-logo {
	margin: 7px;
	margin-right: 16px;
}

.navlogo {
	max-height: 40px;
	margin-top: -11px;
}

.project {
	align-items: center;
	margin: auto;
	padding: 25px;
	max-width: 80%;
	border-radius: 25px;
	background-color: #463E40;
}

.navtext {
	font-size: 11px;
	letter-spacing: 3px;
	padding-left: 3px;
	margin: 10.5px;
	color: lightgray;
}

#navtext-logo {
	font-size: 12px;
	letter-spacing: 3px;
	padding-left: 2px;
	margin: 14px 3px;
	color: lightgray;
}

footer {
    margin: auto;
    max-width: 75%;
    padding-top: 25px;
    padding-bottom: 25px;
    text-align: center;
}

p {
    color: lightgray;
    font-size: 16px;
}

.sectxt {
    padding-left: 20px;
}

/* unvisited link */
a:link {
    color: gray;
}

/* visited link */
a:visited {
    color: darkgray;
}

/* mouse over link */
a:hover {
    color: darkgray;
}

/* selected link */
a:active {
    color: gray;
}
